@media screen and (max-width: 428px) {
    .main-header {
        display: flex;
        height: var(--Height-4-rem, 64px);
        padding: var(--spacing-05-rem, 8px) var(--spacing-125-rem, 20px);

        .header-container {
            display: none;
        }

        .mobile-container {
            background-color: antiquewhite;

            .droplink {
                background: var(--Body-Nav-Background, #FFF);
                align-items: center;
                align-self: stretch;
            }
        }

    }
}

@media screen and (min-width: 498px) {
    .mobile-container {
        display: none;
    }

}